.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-intro {
  background-color: #00CED1;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.namy {
  font-size: 30px;
  padding: 20px;
  border-radius: 5px;
}

.feed-back-button{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.feed-back-button:hover{
  background:#fff;
  color:#1AAB8A;
}
.feed-back-button:before,.feed-back-button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
.feed-back-button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.feed-back-button:hover:before,.feed-back-button:hover:after{
  width:100%;
  transition:800ms ease all;
}


.card{
  /* -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none; */
  background: black;
  padding: inherit;
  width: 500px;
  margin: 0 auto;
  position: relative;
  top: 30%;
  transform: translateY(-65%);
  box-shadow: 0px 3px 8px rgba(0,0,0,0.25);
  border-radius: 2px;
}
